@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
:root{

    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: rgb(40, 40, 40);
    transition: 600ms ease-in-out;
}
.vid{
    display: none;
}
body{
    margin: 0;
    background-image: linear-gradient(to right top, #ffffff, #fafafa, #f5f5f5, #f1f1f1, #ececec);
   
    height: 100vh;
    overflow: hidden;
    width: 100%;
}
.loading{
    position: absolute;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(249, 249, 249);
    width: 100%;
    height: 100vh;
}
.bg{
    position: absolute;
    height: 100vh;
    
    z-index: -1;
    img{
        opacity: .2;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
    
    }
}
.fire-display{

    display: none;
}
.container{
    display: flex;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    z-index: 1;
    
}
.count-down{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #b71a3b;
    flex-wrap: wrap;
    
    a{text-decoration: none;
        color: #b71a3b;}
    h2{
        font-size: 3rem;
        margin: 0;
        color:#bc6d4c ;
        
        text-align: center;
    }
    .greet{
        text-align: center;
        font-size: 10rem;
        color: #b71a3b;
        font-weight: 800;
       
        animation: blink 10s ease-in-out infinite;
    
   
    
           
          
        
    }
    .countdown{
        
        display: flex;
        flex-direction: row;
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        div{

            display: flex;
        flex-direction: column;
        margin: 0;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

             span{
            font-size: 10rem;
            font-weight: 800;
            margin: 0;
        }
        p{
            font-size: 2rem;
            font-weight: 300;
            margin: 0;
            color:   #6a7045;
        }
        }
       
    }
}
@media (max-width: 1096px) {
    .count-down{
        .greet{
            font-size: 9rem;
        }
        h2{
            font-size: 3rem;
            color:#bc6d4c ;
        }
        .countdown{
            font-size: 9rem;
            margin: 0;
        }
    }
}
@media (max-width: 905px) {
    .count-down{
        .greet{
            font-size: 8rem;
        }
        h2{
            font-size: 2.8rem;
            color:#bc6d4c ;
        }
       
    }
}

@media (max-width: 785px) {
    .count-down{
        .greet{
            font-size: 8rem;
        }
        h2{
            font-size: 2.8rem;
            color:#bc6d4c ;
        }
        .countdown{
            div{
                span{
                    font-size: 8rem;
                }
                p{
                    font-size: 1.8rem;
                }
            }
        }
    }
}



@media (max-width: 532px) {
    
    .count-down{
        .greet{
            font-size: 5rem;
        }
        h2{
            font-size: 2.2rem;
            color:#bc6d4c ;
        }
        .countdown{
            div{
                span{
                    font-size: 8rem;
                }
                p{
                    font-size: 1.8rem;
                }
            }
        }
    }
}

@media (max-width: 427px) {
    .count-down{
        .greet{
            font-size: 4rem;
        }
        h2{
            font-size: 1.5rem;
            color:#bc6d4c ;
        }
        .countdown{
            div{
                span{
                    font-size: 6rem;
                }
                p{
                    font-size: 1.4rem;
                }
            }
        }
    }
}

@keyframes blink {
    0%{
        filter: hue-rotate(0deg);
    }
    22%{
        
      color: #b71a3b;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #8aa89f, 0.2rem 0.1rem 1rem #e2073369,
        0 -0.5rem 2rem #ff2428, 0 0.5rem 3rem #ff244c;
    }
    40%{
        filter: hue-rotate(350deg);
      color: #ffffff;
      text-shadow: 0 0 0.1rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #8aa89f, 0.2rem 0.1rem 1rem #e2073369,
        0 -0.5rem 2rem #ff2428, 0 0.5rem 3rem #ff244c;
    }
   
    100% {
        filter: hue-rotate(350deg);
      color: #ffffff;
      text-shadow: 0 0 0.1rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #8aa89f, 0.2rem 0.1rem 1rem #e2073369,
        0 -0.5rem 2rem #ff2428, 0 0.5rem 3rem #ff244c;
    }
  }
  
